# Arquivos do sistema
*.pyc
*.pyo
__pycache__/

# Arquivos de ambiente virtual
venv/
.env/
env/
/node_modules


# Arquivos específicos do PyCharm
.idea/

# Arquivos específicos do VSCode
.vscode/

# Arquivos específicos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos gerados durante a execução do projeto
/media/

# Arquivos de configuração local
settings_local.py

# Logs e arquivos temporários
*.log
*.db
*.bak
*.swp

# Cache e arquivos compilados
__pycache__/
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyc
*.pyo
*.pyd
