# Arquivos e diretórios do ambiente virtual
venv/
env/

# Arquivos gerados pelo Python
*.pyc
*.pyo
__pycache__/

# Diretório de dados do banco de dados SQLite

# Diretório de arquivos estáticos coletados

# Diretório de mídia carregado
media/pip install whitenoise

# Arquivos de configuração do PyCharm
.idea/

# Arquivo local de configuração de desenvolvimento
*.env

# Arquivo de registro do PyCharm
*.log

# Arquivos temporários
*.swp
*~
